

:root {
    --gray: #f8f8f8;
    --gray50: #fdfdfd;
    --gray100: #efefef;
    --gray200: #c4c4c4;
    --gray300: #b5b5b5;
    --gray400: #e5e5e5;
    --green: #b9e3c6;
    --green100: #2c786c;
    --green200: #4e6b57;
    --white: #ffffff;
    --black: #1c1c1c;
    --pink: #f76b8a;
}