@import "css/color.module.scss";

.writedate {
    font-size: 13px;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    color: var(--gray200);
}

.title {
    text-align: center;
    width: 270px;
    margin: 0 auto;
    border-bottom: 2px solid var(--gray); 
    padding: 2px 20px;
    font-size: 18px;
    color: var(--gray300);
}

.text {
    padding: 15px 40px;
    line-height: 25px;
    font-size: 16px;
}

.handleBtn {
    margin-top: 5px;
    margin-left: 240px;
}
