@import "css/color.module.scss";

body {
    background-color: $gray;
}

.container {
  text-align: center;
}

.logo {
    width: 280px;
    margin-left: 15px;
}

.loginform {
  width: 300px;
  margin: 0 auto;
}

.social {
    margin: 20px 2px 0 2px; 
    border: none;
    background-color: $gray;
    font-size: 11px;
    color: $green-100;
}

.span {
    display: block;
    margin-top: 20px;
    color: $green-200;
    cursor: pointer;
    &:hover {
     color: $pink;
    }
}

